.a {
background-color:yellow;
height: 100px;
margin-right: 1000px;
padding-top: 10px;
padding-left:10px;

}
.b {
background:red;
height:100px;
margin-top: 20px;
margin-right: 1000px;
padding-top: 10px;
padding-left:10px;
}
.c {
background:yellow;
height:100px;
margin-top: 20px;
margin-right: 1000px;
padding-top: 10px;
padding-left:10px;
}
div{
	font-size:20px;
}